*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: chocolate;
}

.container-1 header p{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    /* position: absolute; */
    margin-top: 18%;
    margin-left: 10%;
  
}
.container-1 .quote{
    color: rgb(219, 215, 215);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    /* margin-top: 10%; */
    margin-left: 10%;
    position: relative;

}
.quote{
    animation: text 1s 1;
}
 p{
    animation: text1 1s 1;
}
@keyframes text{
    0%{
        margin-top: -40px;
    }
}
@keyframes text1{
    0%{
        margin-left: -40px;
    }
}
@keyframes text3{
    0%{
        margin-right: -40px;
    }
}

  
/* .container-1{
    transform: translate(-50%.-50%);
} */
.container-1 p .quote{
    text-transform: uppercase;
    display: block;
}


.big-box{
    height: 75vh;
    width: 23%;
    border: none;
    border-radius: 10px;
    float: right;
    margin-top: -14%;
    margin-right: 10%;
    box-shadow: 0px 0px 6px 6px rgb(73, 65, 65);
    animation: text3 1.8s 1;
}
.container-2 i{
   color: white;
   padding-left: 5%;
   margin-left: 2%;
}

img {
/* box-shadow: 0px 0px 0px 6px rgb(73, 65, 65); */
border: 5px solid rgb(226, 225, 225);
    height: 190px;
    width: 210px;
    border-radius:10px;
    margin-left: 18%;
    margin-top: 13%;
}

.container-2 input{
    margin-top: 20%;
    margin-left: 8%;
    width: 80%;
  
}

.container-2 button {
    background: none;
    border: none;
    font-size: 30px;
    margin-left: 15%;
    margin-top:5%;
    cursor: pointer;
}

.container-2 button i:hover {
    color: rgb(77, 80, 80);

}


.container-2 .song-name{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    /* position: absolute; */
}

.container-2 .artist{
    font-size: 35px;
    margin-left: 2%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}



@media only screen and (max-width:400px){ 
    /* .big-box {
        height: 75vh;
        width: 95%;
        border: none;
        border-radius: 10px;
        float: right;
        position: absolute;
        margin-top: 72%;
        margin-right: 10%;
        box-shadow: 0px 0px 6px 6px rgb(73, 65, 65);
    } */
    .big-box {
        height: 80vh;
        width: 76%;
        border: none;
        border-radius: 10px;
        float: right;
        /* position: absolute; */
        margin-top: 50%;
        margin-right: 15%;
        box-shadow: 0px 0px 6px 6px rgb(73, 65, 65);
    }
   
    .container-1 header p {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 70px;
        /* position: absolute; */
        margin-top: -62%;
        margin-left: 10%;
    }
    img {
        /* box-shadow: 0px 0px 0px 6px rgb(73, 65, 65); */
        border: 5px solid rgb(226, 225, 225);
        height: 193px;
        width: 212px;
        border-radius: 10px;
        margin-left: 11%;
        margin-top: 9%;
    }
    .container-2 .song-name {
        font-size: 41px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        /* position: absolute; */
    }
    .container-2 .artist {
        font-size: 30px;
        margin-left: 7%;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
    }
    .container-1 header p {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 59px;
        /* position: absolute; */
        margin-top: -62%;
        margin-left: 10%;
    }
    .container-1 .quote {
        color: rgb(219, 215, 215);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;
        position: absolute;
        margin-top: 21%;
        margin-left: 7%;
    }
    .container-1 header p {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 59px;
        position: absolute;
        margin-top: 3%;
        margin-left: 7%;
    }
    .container-2 button {
        background: none;
        border: none;
        font-size: 30px;
        margin-left: 15%;
        margin-top: 8%;
        cursor: pointer;
    }
}


